# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Django stuff:
*.log
*.pot
*.py[cod]
*.sqlite3

# Virtual environment
env/
venv/

# Django static and media files
staticfiles/
media/

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/

# dotenv
.env

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# macOS
.DS_Store

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# VSCode settings (optional, if using VSCode)
.vscode/

# PyCharm
.idea/

# Other IDEs
*.swp

# pyenv
.python-version

# Docker
docker-compose.yml
Dockerfile

# Ignore pyvenv.cfg from your virtual environment
pyvenv.cfg
